<h1>All flats</h1>
<ul>
  <% @flats.each do |flat| %>
    <li><p><%= flat.description %></p>
    <p>Address:<%= flat.street %> in <%= flat.city %></p>
    <p><%= flat.price_per_night %></p></li>
  <% end %>
</ul>
