
  <h1 class="text-center">My Bookings</h1>

  <body>
      <ul >
        <div class="text-center">
          <% @bookings.each do |booking| %>
            <div class="card p-2 m-3 border-0 rounded shadow-sm" style="width: 40%;" >
              <h4 class="card-title p-2"><%= booking.flat.title %></h4>
              <p class="card-text"><%= booking.start_date %>/ <%= booking.end_date %></p>
          </div>
          <% end %>
        </div>
      </ul>
  </body>
