<div class="text-center">
 <img src="https://i.ibb.co/2thCF9q/house.png" alt="FirebnB" width="125" height="125">
<h2> My Options </h2>
<br>
<div>
  <%= link_to "Edit your Booking", edit_booking_path(@booking), class: "btn btn-primary text-decoration-none" %>
  </div>
<br>
<div>
  <%= link_to "Go to My Bookings", flat_bookings_path(@booking), class: "btn btn-primary text-decoration-none" %>
  </div>
</div>
